services:
  nginx:
    build: ./nginx
    container_name: campus-nginx
    ports:
      - "80:80"
    depends_on:
      - frontend
      - auth
      - backend
    networks:
      - campus-net

  frontend:
    build: ./frontend
    container_name: campus-frontend
    networks:
      - campus-net

  auth:
    build: ./auth
    container_name: campus-auth
    expose:
      - "8080"
    networks:
      - campus-net

  backend:
    build: ./backend
    container_name: campus-backend
    expose:
      - "8080"
    networks:
      - campus-net

networks:
  campus-net:
    driver: bridge
